.devise {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  padding-top: 100px;
  color: white;
   h2{
     font-size: 25px;
     font-weight: none;
     text-align: center;
     margin-bottom: 20px;
   }
}
.box{
  margin: 0 100px;;
  display: flex;
  &__label-box{
    height: 200px;
    width: 400px;
    text-align: right;
    margin-right: 20px;
    &__name{
      font-size:25px;
      height: 30px;
      margin-bottom: 22px; 
      em{
        font-size: 15px;
      }
    }
  }
  .form-box{
    height: 200px;
    &__indi{
      .form-field{
        background-color: transparent;
        color: white;
        height: 25px;
        width: 300px;
        margin-bottom: 20px; 
        border: 1px solid white;
      }
      :focus {
        background-color: transparent;
        outline: none;
      }
      :hover{
        background-color: transparent;
        outline: none;
      }
    }
  }
}
.radio_button{
  width: 500px;
  margin:0 auto 15px;
  text-align: center;
  p{
    font-size:20px;
    margin-bottom: 10px;
  }
  &__indi{
    margin-left:10px;
  }
}
.actions{
  text-align: center;
  .btn {
    padding:0 30px;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
  }
}
.link-box{
  text-align: right;
  margin-right: 20px;
}
.remember {
  text-align: center;
  margin-bottom: 30px;
}