.form {
  height: calc(100vh - 80px) ;
  width: calc(100vw - 208px);
  border: 2px double white;
  background-color: transparent;
  color: white;
  &__box{
    width: calc(100vw - 300px);
    margin: 0 auto;
    &__title {
      width: calc(100vw - 300px);
      background-color: transparent;
      color: white;
      font-size: 30px;
      height: 45px;
      margin: 20px 0;
      border: none;
      border-bottom: 1px solid white;
      :focus {
        background-color: transparent;
        outline: none;
      }
    }
    &__content {
      width: calc(100vw - 300px);
      color: white;
      font-size: 20px;
      margin-bottom:20px;
      background-color: transparent;
      border: 1px solid white;
      height: 450px;
      :focus {
        background-color: transparent;
        outline: none;
      }
    }
    &__submit {
      float: left;
      margin-right: 20px;
      &__btn {
        padding:0 30px;
        color: white;
        font-size: 20px;
        background-color: transparent;
        border: 1px solid white;
      }
    }
    &__delete {
      float: right;
      padding:0 30px;
      font-size: 20px;
      background-color: transparent;
      border: 1px solid white;
      &__btn{
        color: white;
      }
    }
  }
}
.comment-box{
  margin: 0 20px;
  &__all{
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
  }
  &__list{
    margin-bottom: 3px;
  }
}
.comment-button{
  text-align: center;
  #comment_button{
    margin: 20px auto;
    border: 1px solid white;
    background-color:transparent;
    color: white; 
  }
}

.comment-form {
  float: left;
  width: calc(100vw - 208px);
  background-color: transparent;
  color: white;
  &__hidden{
    display: none;
  }
  &__box{
    width: calc(100vw - 300px);
    margin: 20px auto 0;
    &__comment {
      width: calc(100vw - 300px);
      color: white;
      background-color: transparent;
      font-size: 20px;
      margin-bottom:20px;
      border: 1px solid white;
      height: 200px;
      :focus {
        background-color: transparent;
        outline: none;
      }
    }
    &__submit {
      float: left;
      margin-right: 20px;
      &__btn {
        padding:0 30px;
        color: white;
        font-size: 20px;
        background-color: transparent;
        border: 1px solid white;
        margin-bottom: 20px;
      }
    }
  }
}