.header {
  width: calc(100vw - 4px);
  height: 120px;
  background-color: transparent;
  border: 2px double white;
  position: fixed;
  &__title{
    margin: 20px;
    float: left;
    height: 80px;   
    color: white;
    font-size: 35px;
    line-height: 80px; 
    h1{
      color: white;
    }
  }
  &__right-box{
    float: right;
    margin:20px 30px 20px 0 ;

    &__menu{
      display: flex;
      height: 80px;
      li{
        margin-left: 10px;
        list-style: none;
      }
      p{
        line-height:80px;
        font-size: 15px;
        color: white;
      }
    }
  }
}